<style>
  .dropbtn2 {
    background-color: #344767;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 400px;
    max-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  #div2 {
    display: none;
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

</style>

{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4 min-vh-80 h-100">
<body onload="getSBimageALL();">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-info shadow-info border-radius-lg pt-4 pb-3">
            <h6 id="tgraph" class="text-white text-capitalize ps-3">Tables Data</h6>
          </div>
        </div>

        <div class="card-body px-0 pb-2 min-vh-35 h-50">
          <div class="dropdown" style="float:left;left:17;bottom:23;">
            <button class="dropbtn2 bg-gradient-dark border-radius-lg">Pick Your Graph</button>
            <div class="dropdown-content" style="left:5;">
              <a href="#tgraph" onclick="getTwonBlock();">Won in last three seasons</a>
              <a href="#tgraph" onclick="getTlostBlock();">Lost in last three seasons</a>
              <a href="#tgraph" onclick="getTdrawBlock();">Drawn in last three seasons</a>
              <a href="#tgraph" onclick="getTgdBlock();">Goal Difference in last three seasons</a>
              <a href="#tgraph" onclick="getTptsBlock();">Points in last three seasons</a>
            </div>
            
            <div id="div1" class="col-6 m-0 m-auto" onload="getSBimageTwon();" style="display:none;">
              <img id="seaborn-twon">
            </div>
            <div id="div2" class="col-6 m-0 m-auto" onload="getSBimageTlost();" style="display:none;">
              <img id="seaborn-tlost">
            </div>
            <div id="div3" class="col-6 m-0 m-auto" onload="getSBimageTdraw();" style="display:none;">
              <img id="seaborn-tdraw">
            </div>
            <div id="div4" class="col-6 m-0 m-auto" onload="getSBimageTgd();" style="display:none;">
              <img id="seaborn-tgd">
            </div>
            <div id="div5" class="col-6 m-0 m-auto" onload="getSBimageTpts();" style="display:none;">
              <img id="seaborn-tpts">
            </div>
          </div>

          <div class="loader m-auto" id="tempLoader1"></div>
          <div style="margin:auto;width:270px;" id="temp1">Approximately will take 30 seconds</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-info shadow-info border-radius-lg pt-4 pb-3">
            <h6 id="pgraph" class="text-white text-capitalize ps-3">Player Graph</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2 min-vh-35 h-50">
              <div class="dropdown" style="float:left;left:17;bottom:23;">
                <button class="dropbtn2 bg-gradient-dark border-radius-lg">Pick Your Graph</button>
                <div class="dropdown-content" style="left:5;">
                  <a href="#pgraph" onclick="getPpositionBlock();">Top 10 Club Number of Position</a>
                  <a href="#pgraph" onclick="getPcountryBlock();">Top 10 Club Number of Nationatility</a>
                </div>
                <div id="div6" class="col-6 m-0 m-auto" onload="getSBimagePposition();" style="display:none;">
                  <img id="seaborn-pposition">
                </div>
                <div id="div7" class="col-6 m-0 m-auto" onload="getSBimagePcountry();" style="display:none;">
                  <img id="seaborn-pcountry">
                </div>
              </div>
              <div class="loader m-auto" id="tempLoader2"></div>
              <div style="margin:auto;width:270px;" id="temp2">Approximately will take 30 seconds</div>
        </div>
      </div>
    </div>
  </div>
</body>
</div>

    {% include 'includes/footer.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
<!-- {% block javascripts %} -->

  <script src="/static/assets/js/plugins/chartjs.min.js"></script>
  <script>
    var ctx = document.getElementById("chart-bars").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["M", "T", "W", "T", "F", "S", "S"],
        datasets: [{
          label: "Sales",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "rgba(255, 255, 255, .8)",
          data: [50, 20, 10, 22, 50, 10, 40],
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });


    var ctx2 = document.getElementById("chart-line").getContext("2d");

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Mobile apps",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: [50, 40, 300, 320, 500, 350, 200, 230, 500],
          maxBarThickness: 6

        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });

    var ctx3 = document.getElementById("chart-line-tasks").getContext("2d");

    new Chart(ctx3, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Mobile apps",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
          maxBarThickness: 6

        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#f8f9fa',
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
  </script>
  <script>
    function getTwonBlock() {
      if (document.getElementById('div1')) {

        if (document.getElementById('div1').style.display == 'none') {
            document.getElementById('div1').style.display = 'block';
            document.getElementById('div2').style.display = 'none';
            document.getElementById('div3').style.display = 'none';
            document.getElementById('div4').style.display = 'none';
            document.getElementById('div5').style.display = 'none';
        }
        else {
        }
    }
    }

    function getTlostBlock() {
      if (document.getElementById('div2')) {

        if (document.getElementById('div2').style.display == 'none') {
            document.getElementById('div1').style.display = 'none';
            document.getElementById('div2').style.display = 'block';
            document.getElementById('div3').style.display = 'none';
            document.getElementById('div4').style.display = 'none';
            document.getElementById('div5').style.display = 'none';
        }
        else {
        }
    }
    }

    function getTdrawBlock() {
      if (document.getElementById('div3')) {

        if (document.getElementById('div3').style.display == 'none') {
            document.getElementById('div1').style.display = 'none';
            document.getElementById('div2').style.display = 'none';
            document.getElementById('div3').style.display = 'block';
            document.getElementById('div4').style.display = 'none';
            document.getElementById('div5').style.display = 'none';
        }
        else {
        }
    }
    }

    function getTgdBlock() {
      if (document.getElementById('div4')) {

        if (document.getElementById('div4').style.display == 'none') {
            document.getElementById('div1').style.display = 'none';
            document.getElementById('div2').style.display = 'none';
            document.getElementById('div3').style.display = 'none';
            document.getElementById('div4').style.display = 'block';
            document.getElementById('div5').style.display = 'none';
        }
        else {
        }
    }
    }

    function getTptsBlock() {
      if (document.getElementById('div5')) {

        if (document.getElementById('div5').style.display == 'none') {
            document.getElementById('div1').style.display = 'none';
            document.getElementById('div2').style.display = 'none';
            document.getElementById('div3').style.display = 'none';
            document.getElementById('div4').style.display = 'none';
            document.getElementById('div5').style.display = 'block';
        }
        else {
        }
    }
    }
    
    function getSBimageALL(){
      fetch('{% url 'get-seaborn-graph-twon' %}')
      .then(res => res.blob())
      .then(data => {
              let imgURL = URL.createObjectURL(data)
              document.getElementById('seaborn-twon').src = imgURL
          })
      fetch('{% url 'get-seaborn-graph-tlost' %}')
      .then(res => res.blob())
      .then(data => {
              let imgURL = URL.createObjectURL(data)
              document.getElementById('seaborn-tlost').src = imgURL
          }) 
      fetch('{% url 'get-seaborn-graph-tdraw' %}')
      .then(res => res.blob())
      .then(data => {
              let imgURL = URL.createObjectURL(data)
              document.getElementById('seaborn-tdraw').src = imgURL
          })
      fetch('{% url 'get-seaborn-graph-tgd' %}')
      .then(res => res.blob())
      .then(data => {
              let imgURL = URL.createObjectURL(data)
              document.getElementById('seaborn-tgd').src = imgURL
          })
      fetch('{% url 'get-seaborn-graph-tpts' %}')
      .then(res => res.blob())
      .then(data => {
              let imgURL = URL.createObjectURL(data)
              document.getElementById('seaborn-tpts').src = imgURL
          })
      fetch('{% url 'get-seaborn-graph-pposition' %}')
      .then(res => res.blob())
      .then(data => {
              let imgURL = URL.createObjectURL(data)
              document.getElementById('seaborn-pposition').src = imgURL
          })
      fetch('{% url 'get-seaborn-graph-pcountry' %}')
      .then(res => res.blob())
      .then(data => {
              let imgURL = URL.createObjectURL(data)
              document.getElementById('seaborn-pcountry').src = imgURL
          })
    }

    setTimeout(function(){
      document.getElementById('tempLoader1').style.display = 'none';
      document.getElementById('tempLoader2').style.display = 'none';
      document.getElementById('temp1').style.display = 'none';
      document.getElementById('temp2').style.display = 'none';
    }, 30000); // 10000ms = 10s

    function getPpositionBlock() {
      if (document.getElementById('div6')) {

        if (document.getElementById('div6').style.display == 'none') {
            document.getElementById('div6').style.display = 'block';
            document.getElementById('div7').style.display = 'none';
        }
        else {
        }
    }
    }

    function getPcountryBlock() {
      if (document.getElementById('div7')) {

        if (document.getElementById('div7').style.display == 'none') {
            document.getElementById('div6').style.display = 'none';
            document.getElementById('div7').style.display = 'block';
        }
        else {
        }
    }
    }

/* old separate functions
    function getSBimageTwon() {
      fetch('{% url 'get-seaborn-graph-twon' %}')
      .then(res => res.blob())
      .then(data => {
              let imgURL = URL.createObjectURL(data)
              document.getElementById('seaborn-twon').src = imgURL
          })
    }
    
    function getSBimageTlost() {
      fetch('{% url 'get-seaborn-graph-tlost' %}')
      .then(res => res.blob())
      .then(data => {
              let imgURL = URL.createObjectURL(data)
              document.getElementById('seaborn-tlost').src = imgURL
          })
    }

    function getSBimageTdraw() {
      fetch('{% url 'get-seaborn-graph-tdraw' %}')
      .then(res => res.blob())
      .then(data => {
              let imgURL = URL.createObjectURL(data)
              document.getElementById('seaborn-tdraw').src = imgURL
          })
    }

    
    function getSBimageTgd() {
      fetch('{% url 'get-seaborn-graph-tgd' %}')
      .then(res => res.blob())
      .then(data => {
              let imgURL = URL.createObjectURL(data)
              document.getElementById('seaborn-tgd').src = imgURL
          })
    }

    function getSBimageTpts() {
      fetch('{% url 'get-seaborn-graph-tpts' %}')
      .then(res => res.blob())
      .then(data => {
              let imgURL = URL.createObjectURL(data)
              document.getElementById('seaborn-tpts').src = imgURL
          })
    }

    function getSBimagePposition() {
      fetch('{% url 'get-seaborn-graph-pposition' %}')
      .then(res => res.blob())
      .then(data => {
              let imgURL = URL.createObjectURL(data)
              document.getElementById('seaborn-pposition').src = imgURL
          })
    }

    function getSBimagePcountry() {
      fetch('{% url 'get-seaborn-graph-pcountry' %}')
      .then(res => res.blob())
      .then(data => {
              let imgURL = URL.createObjectURL(data)
              document.getElementById('seaborn-pcountry').src = imgURL
          })
    }
*/

    
  </script>
{% endblock javascripts %}
