{% extends "layouts/base.html" %}

{% block title %} Update Password {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <div class="container-fluid py-4">

      <div class="row min-vh-80 h-100">
        <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
        <div class="card card-plain bg-white">
          <div class="card-body">
            <form action="" method="POST" class="ui form">
              {% csrf_token %} 
              <div>
              {{form.as_p}}
              </div>
              <button type="submit" class="btn bg-gradient-info">Update Password</button></a>
            </form>
          </div>
        </div>
        </div>
      </div>

    {% include 'includes/footer.html' %}

    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
